*{
    padding: 0;
    margin: 0;
}
body{
    background-color: #edadc4;
}
.header{
    margin:20px;
    color:whitesmoke;
    text-shadow: 0 0 15px #F44D9B;
}
.flex-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container{
    background-color: white;
    display: flex;
    border:5px solid #5A236C;
    box-shadow:0 0 30px #392270;
    width: 320px;
    height:320px;
    flex-wrap:wrap;
}

.grid{
    box-sizing: border-box;
    border: 0.1px solid black;
}

.btn{
    box-sizing: content-box;
    width:320px;
    border:5px solid rgba(255, 99, 71, 0.5);
    box-shadow: 0 0 15px #F44D9B;
}